
body {
	background: #666;
	color: #f3f3f3;
}

.main {
	text-align: center;
	margin-top: 80px;	
}

hr{
	margin-top: 40px;
	margin-bottom:  25px;
}

a{
	color: white;
}

i{
	font-size: 80px;
}

ul{
	list-style: none;
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}

li{
	display: inline;
}

.google-plus{
	margin-right: 20px;
	margin-left: 20px;
}

.twitter{
	margin-right: 20px;
	margin-left: 20px;
}

.git-hib{
	margin-right: 20px;
	margin-left: 20px;
}

@media (max-width: 470px) {
	li{
		display: block;
	}

	.twitter{
		margin-top: 20px;
	}

	.git-hib{
		margin-top: 20px;
	}

	.main {		
		margin-top: 50px;	
	}

	hr{
		margin-top: 20px;
		margin-bottom: 20px;
	}
 }

 .main-footer{
 	font-size: 20px;
 	font-family: monospace;
 }